.padding-text{
    padding: 20px 0px 8px 0px;
}
.CircleColor{
    
    width: 50px;
    height: 50px;
    font-size: xx-large;
    background-color: rgb(255, 174, 0);
    border-radius: 30px;
    text-align: center;
}
.text-decoration a{
    text-decoration: none;
}
.fontforName{
    font-size: xx-large;
}
.btn-primary{
    padding: 20px;
    border-radius: 30px;
    background-color: #ffc400;
    color: white;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn-more{
    border-radius: 30px;
    background-color: #ffc400;
    width: 100px;
    justify-content: end;
    display: flex;
}
.response-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media only screen and (max-width: 993px) {
    .desktop-only {
        display: none;
    }

    .response-only {
        display: block;
    }
}