.padding-text{
    padding: 20px 0px 8px 0px;
}
.CircleColor{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    background-color: rgb(255, 174, 0);
    border-radius: 30px;
    text-align: center;
}
.text-decoration a{
    text-decoration: none;
}
.fontforName{
    font-size: xx-large;
}
.btn-primary{
    padding: 20px;
    border-radius: 30px;
    background-color: #ffc400;
    color: white;
    border-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn-secondery{
    padding: 12px;
    border-radius: 30px;
    background-color: #ffc400;
    color: white;
    border-style: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.owner {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.response-only {
    display: none;
}

.desktop-only {
    display: block;
}
.response-onlyphotos{
    display: none;
}

@media only screen and (max-width: 992px) {
    .desktop-only {
        display: none;
    }
    
    .response-only {
        display: block;
    }
   
        .carousel-item img {
          height: 400px;
        }
}

.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
  }
  
  .popup.success {
    background-color: #4caf50;
  }
  
  .popup.error {
    background-color: #f44336;
  }
  .loading{
    margin-top: 240px;
    width: 300px;
    height: 500px;
}

.authform{
    margin-top: 50px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffc400;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
}

